<%= form_for(@exhibit) do |f| %>
  <% if @exhibit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibit.errors.count, "error") %> prohibited this exhibit from being saved:</h2>

      <ul>
      <% @exhibit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :date_of_origin %><br>
    <%= f.number_field :date_of_origin %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :extra%><br>
    <%= f.text_field :extra %>
  </div>
  <div class="text-center">
    <div class="field">
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar %>
    </div>
  </div>
  <div class="field">
    <%= select_tag( :type_id, options_for_select(@types), :prompt => "Wybierz kategorie") %>
  </div>
  <div class="field">
    <%= select_tag( :tour_id, options_for_select(@tours), :prompt => "Wybierz kategorie") %>
  </div>
  <div class="field">
    <%= f.label :ex_id %><br>
    <%= f.number_field :ex_id %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
