<%= form_for(@exhibit) do |f| %>
  <% if @exhibit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibit.errors.count, "error") %> prohibited this exhibit from being saved:</h2>

      <ul>
      <% @exhibit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :date_of_origin %><br>
    <%= f.number_field :date_of_origin %>
  </div>
  <div class="field">
    <%= f.label :place_of_origin %><br>
    <%= f.text_field :place_of_origin %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="center">
  <div class="field center-img">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div></div>
  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
