<div class="row">
  <% @exhibits.each do |exhibit| %>
      <div class="col-xs-12"> 
        <div class="media">
          <div class="pull-left">
            <%= link_to exhibit do %>
              <img src="<%= exhibit.thumb_photo %>" alt="<%= exhibit.title %>", class="media-object img-circle browse-img-style" >
            <% end %>
          </div>
          <div class="media-body">
            <%= link_to exhibit.title, exhibit, :class=> "media-heading h4 browse-h4-style" %>
            <h5 class="browse-h5-style"><%= exhibit.author %></h5>
            <h5 class="browse-h5-style"><%= exhibit.date_of_origin %></h5>
          </div>
        </div>  
      </div>
  <% end %>
</div>