<div class="form-group">
  <%= f.label :content, "Pytanie" %></br> 
  <%= f.text_area :content, :rows => 2 %></br>  
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Usuń Pytanie" %>
</div>
<div class="form-group">
  <%= f.fields_for :answers do |buldier| %>
    <%= render 'answer_fields', :f => buldier %>
  <% end %>
</div>