<div class="container-fluid" style="margin-top: 100px;width:90%;">
    <p id="notice"><%= notice %></p>   
    <div class="row">
      <form>
        <div class='col-xs-12 mg-medium'>
          <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Szukaj' ></input>
        </div>
      </form>
      <% @exhibits.each do |exhibit| %>
          <div class="col-xs-10 mg-around padd" > 
          
            <div class="pull-left">
              <%= link_to image_tag(exhibit.avatar(:thumb), :class=>"img-circle browse-img-style" ), exhibit%> 
            </div>
            <div class="media-body padd">
              <%= link_to exhibit.title, exhibit, :class=> "h4 browse-h4-style" %>
              <h5 class="browse-h5-style"><%= exhibit.author %></h5>
              <h5 class="browse-h5-style"><%= exhibit.date_of_origin %></h5>
            </div>  
          </div>
      <% end %>
    </div>
</div> 


