<div class="container-fluid">
  <div class="row" style="margin-top: 100px;"> 
    <p id="notice"><%= notice %></p>
    <div class="center">
    <% @exhibits.each do |exhibit| %>
      <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top:20px;">
        <div class="media">
            <%= link_to image_tag(exhibit.avatar(:thumb), :class=>"media-object img-circle browse-img-style"), exhibit, :class=>"pull-left" %> 
          <div class="media-body">
            <%= link_to exhibit.title, exhibit, :class=> "h4 media-heading browse-h4-style" %>
            <h5 class="browse-h5-style"><%= exhibit.author %></h5>
            <h5 class="browse-h5-style"><%= exhibit.date_of_origin %></h5>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>