<% provide(:title, "#{@exhibit.title}") %>
<div class="site-m-row">
  <div class="subpanel">
    <i class="fa fa-chevron-left"></i><%= link_to "Wróć", :back, :class =>"subpanel-item" %>
  </div>
</div>


<div class="row"> 
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>  
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_exhibit_path(@exhibit), :class=> "btn btn-default" %> 
      <% end %>
      
      <div class="row">
        <div class="col-xs-12">
        <%= link_to @exhibit.big_photo, :target => "_blank" do %>
          <img src="<%= @exhibit.big_photo %>" alt="<%= @exhibit.title %>" class="media-object img-rounded img-responsive" >
        <% end %>
        </div>
      </div>  

      <div class="row">
        <div class="col-xs-12">
          <p class="item-style1">
            <%= @exhibit.title %>
          </p>
          <p class="item-style2">
            <br>
            <%= @exhibit.author %>
            <br>
            <%= @exhibit.date_of_origin %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"><p class="item-style3">Informacje</p></div>
      </div>  
      <div class="row">
        <div class="col-xs-12">
          <p class="item-style4">
           <%= @exhibit.description %>
          </p>
        </div>
      </div> 
      <% unless @exhibit.questions.blank? %>
        <div class="row">
          <div class="col-xs-12"><p class="item-style1">QUIZ</p>
            <% for question in @exhibit.questions %>
              <b>
              <%= question.content %>
              </b>
              <br/>
              <% for answer in question.answers %>
              <div>
                <button class="btn odp"><%= answer.content %></button>  
                <div class="spr">
                  <% if answer.correct %>
                    <div class="alert alert-success">
                      Dobra odpowiedź
                    </div>
                    <% else %>
                    <div class="alert alert-danger ">
                      Zła odpowiedź
                    </div>
                  <% end %>
                </div>
                </div>
              <% end %> 
            <% end %>  
          </div>          
        </div>
      <% end %>   
  </div>
  <div id="footer">
    <div class="footer-button">
      <% if @exhibit.previous %>
        <%= link_to "", @exhibit.previous, :class=> "fa fa-angle-left fa-3x footer-btn" %>
      <% end %>
      <% if @exhibit.next %>
        <%= link_to "", @exhibit.next, :class=> "fa fa-angle-right fa-3x footer-btn" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.spr').hide();
  $('.odp').on('click', function(e) {
    $(this).next().toggle('.spr'); 
  });
</script>