<div class="site-m-row">
      <div class="subpanel">
        <i class="fa fa-chevron-left"></i><%= link_to "Wróć", :back, :class =>"subpanel-item" %>
      </div>
   </div>
<div class="container-fluid">
  <div class="row" style="margin-top: 10px;"> 
    <p id="notice"><%= notice %></p>  
    <div class="center">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_exhibit_path(@exhibit), :class=> "btn btn-default" %> 
      <% end %>
      
      <div class="row" style="margin-top: 15px;">
        <div class="center-img"><div class="col-xs-12">
          <img src="<%= @exhibit.big_photo %>" alt="<%= @exhibit.title %>" style="">
        </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-xs-12">
          <p class="item-style1">
            <%= @exhibit.title %>
          </p>
          <p class="item-style2">
           TYP
            <br>
            <%= @exhibit.author %>
            <br>
            <%= @exhibit.date_of_origin %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"><p class="item-style3">Informacje</p></div>
      </div>  
      <div class="row">
        <div class="col-xs-12">
          <p class="item-style4">
           <%= @exhibit.description %>
          </p>
        </div>
      </div> 
      <% unless @exhibit.questions.blank? %>
      
        <div class="row">
          <div class="col-xs-12"><p class="item-style1">QUIZ</p></div>
          <div class="col-xs-12">
            <ol>
              <% for question in @exhibit.questions %>
                <li>
                  <%= question.content %>
                  <ul>
                    <% for answer in question.answers %>
                      <li>
                        <%= answer.content %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ol>
          </div>
      <% end %>      
      </div>
      <div id="footer">
        <div class="footer-button">
          <% if @exhibit.tour_previous %>
            <%= link_to "", @exhibit.previous, :class=> "fa fa-angle-left fa-3x footer-btn" %>
          <% end %>
          <% if @exhibit.tour_next %>
            <%= link_to "", @exhibit.next, :class=> "fa fa-angle-right fa-3x footer-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>