<header>
  <div class="nav-row">
      <div class="col-xs-4" style="text-align: center; margin-top: 30px;">
        <a class="popover-link-bottom" data-container="body" data-html="true" data-toggle="popover" data-content='
          <ul class="fa-ul">
            <li class="main-menu-st">
              <i class="fa-li fa fa-home"></i><%= link_to "Strona Główna", root_path, :class=> "main-menu-item" %>
            </li>
            <li class="main-menu-st">
              <i class="fa-li fa fa-map-marker"></i><%= link_to "Mapa", static_pages_map_path, :class=> "main-menu-item" %>
            </li>
            <li class="main-menu-st">
              <i class="fa-li fa fa-compass"></i><%= link_to "Wycieczka", static_pages_tour_path, :class=> "main-menu-item" %>
            </li>
            <li class="main-menu-st">
              <i class="fa-li fa fa-eye"></i></i><%= link_to "Eksponaty", exhibits_path, :class=> "main-menu-item" %>
            </li>
            <li class="main-menu-st">
              <i class="fa-li fa fa-eye"></i></i><%= link_to "Kolekcje", 
            static_pages_collections_path, :class=> "main-menu-item" %>
            </li>
            <% unless user_signed_in? %>
              <li class="main-menu-st">
                <%= link_to "Zarejestruj się", new_user_registration_path, :class=> "main-menu-item" %>
              </li> 
              <li class="main-menu-st">
                <%= link_to "Zaloguj się", new_user_session_path, :class=> "main-menu-item" %>
              </li>
              <% else %>
              <li class="main-menu-st">
                <%= link_to "Dodaj Eksponat", new_exhibit_path, :class=>"main-menu-item"%>
              </li>
              <li class="main-menu-st">
                <%= link_to "Wyloguj się", destroy_user_session_path, method: :delete, :class=>"main-menu-item"%>
              </li>
            <% end%>
          </ul>
        ' title="MENU">
        <i class="fa fa-bars fa-2x" style="color: #fff;"></i>
        </a>    
    </div>
      <div class="col-xs-4" style="text-align: center;">
        <%= link_to image_tag("/assets/logo.png", :class => "logo"), root_path %>
      </div>
      <div class="col-xs-4" style="text-align: center; margin-top: 30px;">
        <a class="popover-link-bottom" data-container="body" data-html="true" data-toggle="popover" data-content='
            <ul class="fa-ul fa-ul2">
              <li class="search-menu-st">
                <form>
                  <label for="fname">Wprowadź numer eksponatu</label>
                  <input class="form-control" type="text" id="fname" name="keyword" value="<%= params[:keyword] %>" placeholder="Numer ekzpozycji"><br>
                  <button type="submit" class="btn btn-start">Szukaj</button>
                </form>
              </li>
            </ul>
            ' title="SZUKAJ">
            <i class="fa fa-search fa-2x" style="color: #fff;"></i>
          </a>    
      </div>    
  </div>
</header>
